.grid-image {
    width: 100%;
}

body {
    background: url("../image/BG.jpg") no-repeat;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
}
footer{
    font-size: 50px;
    background-color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: black;
    text-align: right;
    position: absolute;
    right: 0%;
    bottom: 0;
    left: 0;


}
h1{
    text-align: left;
}
h1,h2{
    color: white;
    text-align: center;
}


card{
    text-align: center;
}
.ticket-event {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;

    padding: 2%;
}
.title {
    color: grey;
    font-size: 18px;
}
.uproar{
    padding-right: 2%;
}
.centre{
    text-align: center;
}

.moreinfo{
    background-color: #777777;
}