.social-basic {
    background-color:#ffffff;
    color:#4b4c4d;
    padding-top: 5%;

}

.social-basic a:hover {
    opacity:1;
}

.social-basic .social > a {
    font-size:50px;
    line-height:50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;

    color:inherit;
    opacity:0.75;
}

.social-basic .social > a:hover {
    opacity:0.9;
}

