
body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background: url("/image/BG.jpg") no-repeat;
}
.container{
   background-color: #ffffff;

}

.banner-image {
    background: url("/image/placeholder.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: #ffff;
    padding: 10px;
    padding-bottom: 100px;


}

/*h1 {*/
/*    color: #0093D0;*/
/*}*/

.article {

    padding: 50px 40% 50px 50px;
    background-color: #ffffff;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.card{
    width: 90%;
}

.price-box {
    float: right;
    width: 30%;
    min-width: 30vm;
    padding: 10px;
    position: absolute;
    top: 10%;
    right: 1%;

}

.map {
    float: right;
    width: 30%;
    min-width: 30vm;
    padding: 10px;
}

  